%h1 Users#setting
- if @twitter.blank?
  = link_to 'Twitter認証', '/auth/twitter'
- else
  %p twitter認証済み

- if @hatena.blank?
  = link_to 'HatenaBookmark認証', '/auth/hatena'
- else
  %p HatenaBookmark認証済み

- if @github.blank?
  = link_to 'Github認証', '/auth/github'
- else
  %p Github認証済み

- if @moves.blank?
  - if @ua.is_mobile?
    = link_to 'moves認証', '/auth/moves'
  - else
    %p movesの認証はスマートフォンからお願いします
- else
  %p moves認証済み

= button_to('お試し送信', { controller: 'workers', action: 'create', id: session[:uid] })

- if @user.status == 1
  = form_tag({ controller: 'users', action: 'update' }, method: 'put')
  = hidden_field_tag(:status, 2)
  = submit_tag('登録して毎日届かせる')
- else
  = form_tag({ controller: 'users', action: 'update' }, method: 'put')
  = hidden_field_tag(:status, 1)
  = submit_tag('登録解除する')
