#myCarousel.carousel.slide{"data-ride" => "carousel"}
  .carousel-inner
    .item.active
      .container
        .carousel-caption
          %h1 Everlog
          %p ネット上のアクティビティを、毎日自動でEvernoteに保存します。
          %p
            %a.btn.btn-lg.btn-primary{ href: "/auth/evernote", role: "button" } Evernoteにサインイン
.container.marketing
  .row
    %h1{ style: 'text-align: center' } 連携サービス
    .col-lg-4
      = image_tag('twitter.png', size: '140x140')
      %h2 twitter
      %p 毎日のツイートを記録
    .col-lg-4
      = image_tag('github.png', size: '140x140')
      %h2 github
      %p 毎日のコミットを記録
    .col-lg-4
      = image_tag('moves.png', size: '140x140')
      %h2 moves
      %p 毎日の移動履歴と、消費カロリーの合計などを記録
    .col-lg-4
      = image_tag('hatena.png', size: '140x140')
      %h2 hatenaBookmark
      %p 毎日のブックマークを記録
    .col-lg-4
      = image_tag('animetick.png', size: '140x140')
      %h2 animetick
      %p （そのうち対応できるかも）毎日の消費チケットを記録
  %hr.featurette-divider
  %h1{ style: 'text-align: center' } イメージ
  %p{ style: 'text-align: center' } ↓こんな感じのものをevernoteに保存
  .row
    .col-xs-12.sample-output-dummyline
  .row
    .col-xs-12{ style: 'background-color: #ffaa33;' }
      .col-xs-offset-1.sample-output-line
        Weather
  .row
    .col-xs-12
      .col-xs-6.col-xs-offset-1.sample-output-line
        Tokyo is rain.
      .col-xs-offset-1.sample-output-line
        Temp is 20 / 10℃.
  .row
    .col-xs-12.sample-output-dummyline
  .row
    .col-xs-12{ style: 'background-color: #a4cce0;' }
      .col-xs-offset-1.sample-output-line
        Twitter
  .row
    .col-xs-12
      .col-xs-6.col-xs-offset-1.sample-output-line
        ツイート１
      .col-xs-offset-1.sample-output-line
        1:00
  .row
    .col-xs-12
      .col-xs-6.col-xs-offset-1.sample-output-line
        ツイート２
      .col-xs-offset-1.sample-output-line
        1:10
  .row
    .col-xs-12.sample-output-dummyline
  .row
    .col-xs-12{ style: 'background-color: #4a80c7;' }
      .col-xs-offset-1.sample-output-line
        HatenaBookmark
  .row
    .col-xs-12
      .col-xs-6.col-xs-offset-1.sample-output-line
        %a{ href: 'https://google.com' } ブックマーク
  .row
    .col-xs-12.sample-output-dummyline
  .row
    .col-xs-12{ style: 'background-color: #b0c0d0;' }
      .col-xs-offset-1.sample-output-line
        Github
  .row
    .col-xs-12
      .col-xs-6.col-xs-offset-1.sample-output-line
        %a{ href: 'https://github.com/gong023/everlog/commit/53cd12eb74c9107ec16c4ce7a9227f6454bf1bd1'}
          コミットメッセージ
  .row
    .col-xs-12.sample-output-dummyline
  .row
    .col-xs-12{ style: 'background-color: #f75c24;' }
      .col-xs-offset-1.sample-output-line
        Animetick
  .row
    .col-xs-12
      .col-xs-6.col-xs-offset-1.sample-output-line
        消化チケット
      .col-xs-offset-1.sample-output-line
        1:30
  .row
    .col-xs-12.sample-output-dummyline
  .row
    .col-xs-12{ style: 'background-color: #84e388;' }
      .col-xs-offset-1.sample-output-line
        Moves
  .row
    .col-xs-12
      .col-xs-11.col-xs-offset-1.sample-output-line
        summary
  .row
    .col-xs-12
      .col-xs-6.col-xs-offset-2.sample-output-line
        walk
      .col-xs-offset-2.sample-output-line
        1.5km
  .row
    .col-xs-12
      .col-xs-6.col-xs-offset-2.sample-output-line
        Cycle
      .col-xs-offset-2.sample-output-line
        5.5km
  .row
    .col-xs-12
      .col-xs-4.col-xs-offset-8.sample-output-line
        100cal
  .row
    .col-xs-12
      .col-xs-11.col-xs-offset-1.sample-output-line
        storyline
  .row
    .col-xs-12
      .col-xs-6.col-xs-offset-2.sample-output-line
        地名
  .row
    .col-xs-12
      .col-xs-6.col-xs-offset-2.sample-output-line
        ↓cycling
      .col-xs-offset-2.sample-output-line
        12:30~13:00(30min) 10.0km
  .row
    .col-xs-12
      .col-xs-6.col-xs-offset-2.sample-output-line
        地名
  .row
    .col-xs-12
      .col-xs-6.col-xs-offset-2.sample-output-line
        ↓walk
      .col-xs-offset-2.sample-output-line
        13:30~14:00(30min) 1.5km
  .row
    .col-xs-12
      .col-xs-6.col-xs-offset-2.sample-output-line
        ↓transport
      .col-xs-offset-2.sample-output-line
        14:00~15:00(60min) 20.0km
  .row
    .col-xs-12
      .col-xs-6.col-xs-offset-2.sample-output-line
        地名
  .row
    .col-xs-12.sample-output-dummyline
